
header{
    background-color: aqua;
    text-align: center;
}

h1{
    color: white;
}

nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
div{
    text-align: center;
    color: white;
    border:white solid 1px;
    padding: 10px;
    width: 500px; 
    background-color: black;
    opacity: 0.5;
}

.col {
    column-count: 2;
  }
  body main{
    background: url('/img/background.jpg') center/cover no-repeat;
    margin: auto;
    max-width: 500px;
    min-width: 500px;
  }